language: python
python:
- '3.6'
cache: pip
branches:
  only:
  - master
script:
- pip install mkdocs
- mkdocs build --clean
- docker build -t $DOCKER_USER/documentation-as-code .
- docker tag $DOCKER_USER/documentation-as-code $DOCKER_USER/documentation-as-code:latest
- docker login -u $DOCKER_USER -p $DOCKER_PASS
- docker push $DOCKER_USER/documentation-as-code
notifications:
  email:
    on_failure: change
    on_success: change
